.onboarding {
    border-top: solid 1px rgb(213, 213, 213);
}

.onboarding form {
    display: flex;
    justify-content: center;
}

.onboarding form section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 35%;
    text-align: start;
}

.onboarding form input {
    padding: 15px 30px;
    margin: 10px 0;
    font-size: 15px;
    border: solid 2px rgb(219, 219, 219);
    border-radius: 10px;
}

.onboarding form label {
    margin: 10px 0;
}

.onboarding form .multiple-input-container {
    display: flex;
    flex-direction: row;
}

.onboarding form input::-webkit-outer-spin-button,
.onboarding form input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.onboarding form .multiple-input-container input {
    margin-right: 10px;
}

.onboarding form .multiple-input-container label {
    padding: 10px;
    border: solid 2px rgb(144, 144, 144);
    border-radius: 10px;
    transition: all 0.3s;
    margin-right: 10px;
}

.onboarding form select{
    padding: 15px 30px;
    margin: 10px 0;
    font-size: 15px;
    border: solid 2px rgb(219, 219, 219);
    border-radius: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-size: 20px;
    /*TODO add arrow*/
}


.onboarding form input[type=radio] {
    display: none;
}

.onboarding form input[type=number] {
    width: 10%;
}

.onboarding form input[type=radio]:checked + label {
    border: solid 2px rgb(173, 26, 10);
}

.onboarding form input[type=submit]:hover {
    background-color: rgb(235, 235, 235);
}

.onboarding form input[type=submit]:active {
    background-color: rgb(226, 115, 115);
}

.onboarding form .photo-container img {
    width: 100%
}

.onboarding .error-message {
    color: red;
    font-size: 14px; /* You can adjust the font size as needed */
    margin-top: 5px; /* Optional margin to separate the error message from the input field */
}

.onboarding .message {
    font-size: 14px; /* You can adjust the font size as needed */
    margin-top: 5px; /* Optional margin to separate the error message from the input field */
}

