.onboarding {
    border-top: solid 1px rgb(154, 154, 154);
}

.onboarding form {
    display: flex;
    justify-content: center;
}

.onboarding form section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 35%;
    text-align: start;
}

.onboarding form input {
    padding: 15px 30px;
    margin: 10px 0;
    font-size: 15px;
    border: solid 2px rgb(219, 219, 219);
    border-radius: 10px;
}

.onboarding form input::-webkit-inner-spin-button,
.onboarding form input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.onboarding form label {
    margin: 10px 0;
}

.onboarding form .multiple-input-container {
    display: flex;
    flex-direction: row;
}

.onboarding form .multiple-input-container input {
    margin-right: 10px;
}

.onboarding form .multiple-input-container label {
    padding: 10px;
    border: solid 2px rgb(144, 144, 144);
    border-radius: 10px;
    transition: all 0.3s;
    margin-right: 10px;
}

.onboarding form input[type="radio"] {
    display: none;
}

.onboarding form input[type="number"] {
    width: 10%;
    -moz-appearance: textfield;
}

.onboarding form input[type="radio"]:checked + label {
    border: solid 2px rgb(221, 39, 22);
}

.onboarding form input[type="submit"]:hover {
    background-color: rgb(235, 235, 235);
}

.onboarding form input[type="submit"]:active {
    background-color: rgb(226, 115, 155);
}

.onboarding form .photo-container img {
    width: 100%;
}
