/* MatchesDisplay.css */
.matches-display {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    min-width: 7vw;
    background-color: transparent;
    padding: 10px;
    overflow-y: auto;
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    overflow-y: scroll;
}

.matches-display:hover {
    scrollbar-color: #bbb transparent;
}

.matches-display::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

.matches-display::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.matches-display:hover::-webkit-scrollbar-thumb {
    background-color: #bbb;
}

.matches-display.hidden {
    transform: translateX(-100%);
}

.match-icons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.match-icon-message{
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    margin-bottom: 2vw;
    overflow: hidden;
    cursor: pointer;
    border: double 5px transparent;
    background-image: linear-gradient(white, white),
    linear-gradient(20deg , #1F90E2, #900DF8);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.match-icon-no-message{
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    margin-bottom: 2vw;
    overflow: hidden;
    cursor: pointer;
    border: double 5px transparent;
    background-image: linear-gradient(white, white),
    linear-gradient(20deg , #667381, #5f556b);
    background-origin: border-box;
    background-clip: content-box, border-box;
}



.match-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.matches-button {
    background: linear-gradient(45deg, #ffffff, #e8ccff);
    border: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: x-large;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.matches-button:hover {
    background: linear-gradient(45deg, #dadada, #bca5ce);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
