/*keep all styling at one file at the moment*/

/*cannot import google font for some reason*/
/*@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;700&display=swap');*/

html, body{
    margin: 0;
    padding: 0;
}

*{
    font-family: sans-serif;
}

h2{
    font-style: italic;
}

.primary-title{
    font-size: 90px;
    color: aliceblue;
}
.primary-button{
    color: aliceblue;
    text-transform: uppercase;
    font-size: 15px;
    background: linear-gradient(45deg , #fe3072, #ff5940);
    padding: 12px 30px;
    border-radius:  30px;
    border: none;
}

.primary-button:hover{
    background: linear-gradient(45deg , #ff5940 ,#fe3072);
}

.secondary-button{
    color: aliceblue;
    text-transform: uppercase;
    font-size: 15px;
    text-transform: uppercase;
    background: linear-gradient(45deg , #fd5184, #fd8f7f);
    padding: 12px 30px;
    border-radius:  30px;
    border: none;
    margin: 6px;
}

.secondary-button:hover{
    background: linear-gradient(45deg , #d0436d, #d7796e);
}

body{
    text-align: center;
}

/*------ Navbar ------*/

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav .nav-button{
    color: #fe3072;
    background: white;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px;
}

nav .nav-button:hover{
    background:gainsboro;
}

nav .nav-button:disabled{
    background: gainsboro;
}


nav .logo-container{
    /*TODO*/
}

nav .logo-container .logo{
    /*TODO*/
    width: 100%;
}

/*------ Home page ------*/
.overlay{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: linear-gradient(
            to bottom,
            rgba(0,0,0,0.65) 0%,
            rgba(0,0,0,0) 100%),
    url('src/images/images.png')
}

.home{
    margin-top: 40px;
}


/*------ Auth Modal ------*/
.auth-modal{
    position: absolute;
    top: 175px;
    left: 0;
    right: 0;
    top: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 360px;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 40px;
}

.auth-modal .close-icon{
 float: right;
}

.auth-modal form{
    display: flex;
    flex-direction: column;
}

.auth-modal input[type=password],
.auth-modal input[type=email]
{
    padding: 8px;
    margin: 8px;
    font-size: 17px;
}

/*------ OnBoarding Page ------*/
.onboarding{
    border-top: solid 1px rgb(154,154,154);
}


.onboarding form{
    display: flex;
    justify-content: center;
}

.onboarding form section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 35%;
    text-align: start;
}

.onboarding form input{
    padding: 15px 30px;
    margin: 10px 0;
    font-size:  15px;
    border: solid 2px rgb(219,219,219);
    border-radius: 10px;
}
.onboarding form input::-webkit-inner-spin-button,
.onboarding form input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin:0;
}

.onboarding form label{
    margin: 10px 0;
}


.onboarding form .multiple-input-container {
    display: flex;
    flex-direction: row;
}


.onboarding form .multiple-input-container input {
    margin-right: 10px;
}

.onboarding form .multiple-input-container label {
    padding: 10px;
    border: solid 2px rgb(144,144,144);
    border-radius: 10px;
    transition: all 0.3s;
    margin-right: 10px;
}

.onboarding form input[type="radio"] {
    display: none;
}

.onboarding form input[type="number"] {
    width: 10%;
    -moz-appearance: textfield;
}

.onboarding form input[type="radio"]:checked + label {
    border: solid 2px rgb(221,39,22);
}

.onboarding form input[type="submit"]:hover{
    background-color: rgb(235,235,235);
}

.onboarding form input[type="submit"]:active{
    background-color: rgb(226,115,155);
}

.onboarding form .photo-container img{
    width: 100%;
}

/*------ Dashboard Page ------*/
.dashboard{
    display: flex;
    justify-content: space-between;
}

.dashboard .swipe-container{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.swipe {
    position: absolute;
}

.dashboard .card-container {
    width: 400px;
    height: 650px;
}

.card {
    background-color: #fff;
    width: 400px;
    height: 650px;
    border-radius: 30px;
    background-size: cover;
    background-position: center;
}

.card h3 {
    margin-top: 0;
}

.dashboard .swipe-info{
    position: absolute;
    bottom: 0;
    padding: 20px;
}


/*------ ChatContainer Page ------*/

.chat-container {
    background-color: white;
    box-shadow: rgba(0,0,0,0.05) 0px 6px 24px 0px,
    rgba(0,0,0,0.08) 0px 0px 0px 1px;
    width: 30%;
    text-align: left;
}

.chat-container .chat-container-header{
    background: linear-gradient(45deg , #fe3072, #ff5940);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-container .option {
    border: none;
    background-color: white;
    border-bottom: solid 4px rgb(243, 33, 33);
    font-size: 20px;
    margin: 2px;
    padding: 10px;
}

.chat-container-header h3 {
    font-size: 20px;
    color: white;
    position: center;
    margin-bottom: 0;
}

.card-container .option:disabled{
    border-bottom: solid 4px rgb(187,187,187);
}

.chat-container .profile {
}

.chat-container .log-out-icon{
    display: flex;
    align-items: center;
    padding: 20px;
    color: white;
}

.img-container{
    height: 30px;
    width: 30px;
    border-radius: 15px;
    overflow: hidden;
    margin: 10px;
}

.img-container img{
    width: 100%;
}

/*------ Chat Display ------*/

.chat-display{
    padding: 20px;
        height: 60vh;
        overflow-y: auto;
}

/*------ Chat Input ------*/

.chat-input{
    padding: 20px;
    display: flex;
    flex-direction: column;
}